body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scene {
    width: 200px;
    height: 200px;
    margin: 30px;
    perspective: 400px;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
}

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 20px;
    background: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 15px;
}

.item {
    place-self: center;
    padding-bottom: 5px;
}
.item-1 {
    grid-row: 1;
    grid-column: 1;
}
.item-2 {
    grid-row: 1;
    grid-column: 2;
}
.item-3 {
    grid-row: 1;
    grid-column: 3;
}
.item-4 {
    grid-row: 2;
    grid-column: 1;
}
.item-5 {
    grid-row: 2;
    grid-column: 2;
}
.item-6 {
    grid-row: 2;
    grid-column: 3;
}
.item-7 {
    grid-row: 3;
    grid-column: 1;
}
.item-8 {
    grid-row: 3;
    grid-column: 2;
}
.item-9 {
    grid-row: 3;
    grid-column: 3;
}

label {
    margin-right: 10px;
}

.cube__face--front {
    transform: rotateY(0deg) translateZ(100px);
}

.cube__face--right {
    transform: rotateY(90deg) translateZ(100px);
}

.cube__face--back {
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face--left {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--top {
    transform: rotateX(90deg) translateZ(100px);
}

.cube__face--bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

.cube.show-front {
    transform: translateZ(-100px) rotateY(0deg);
}

.cube.show-right {
    transform: translateZ(-100px) rotateY(-90deg);
}

.cube.show-back {
    transform: translateZ(-100px) rotateY(-180deg);
}

.cube.show-left {
    transform: translateZ(-100px) rotateY(90deg);
}

.cube.show-top {
    transform: translateZ(-100px) rotateX(-90deg);
}

.cube.show-bottom {
    transform: translateZ(-100px) rotateX(90deg);
}

.random-button {
    width: 200px;
}
